<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">



            <div class="modal-body">
                <div class="row" style="text-align:-webkit-center">
                        <h2>Sign up in seconds</h2>
                </div>

                <div class="row">

                        <form action="/signup" method="post">

                              Name<input type="text" class="form-control" name="name">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password">
                                <br>
                            <div class="" style="text-align:-webkit-center">
                              <button type="submit" class="btn btn-warning btn-lg">Sign me up!</button>
                            </div>
                        </form>

                </div>
            </div>
        </div>
    </div>
</div>
