<!DOCTYPE html>
<html>
<head>
	<title>Passport Authentication Practice</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>

	</script>

</head>
<body>
	<% include partials/nav %>
	<div class="container">
		<%- body %>
	</div>
</body>
</html>
