<div class="spacer"></div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>All playlists:</h1>

<ul class="list-group">
  <% playlists.forEach((playlist) => { %>
    <li class="list-group-item">
      <a href="/playlists/<%= playlist._id %>"><%= playlist.name %></a>
    </li>
  <% }) %>
</ul>
</div>
</div>
