<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>All Users:</h1>

<ul class="list-group">
  <% users.forEach((user) => { %>
    <li class="list-group-item">
      <a href="/users/<%= user._id %>"><%= user.local.name %></a>
    </li>
  <% }) %>
</ul>
</div>
</div>
