<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>All Posts:</h1>

<ul class="list-group">
  <% posts.forEach((post) => { %>
    <li class="list-group-item">
      <a href="/posts/<%= post._id %>"><%= post.title %></a>
    </li>
  <% }) %>
</ul>
</div>
</div>
